<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <div class="container">
        
        <a href="/product">go back</a>
   
    <div class="products">
        
    <h2><%= product.name %> </h2>
    <h3><%= product.price %> </h3>
     <h4><%= product.desc %> </h4>
     <a href="/products/<%=product.id%>/edit ">edit</a>

     <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
       
     </form>
      
    </div>
   
</div>
</body>
</html>